{{#partial "content"}}
<form action="/form" method="post">
    <label>input a place: </label>
    <input name="name" type="text">
    <label>input a date: </label>
    <input name="date" type="text">
    <button type="submit">enter</button>
</form>
{{/partial}}

{{> layout.hbs}}